<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="icon" href="./weather.png">    
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div id="container">
        {{>header}}
        <img id="potrait" src="./Mayank.jpg">
        <p id="aboutP">This site was created by mayank lal.It uses data from mapbox.com and darkspy.net</p>
        
    </div>
    {{>footer}}
</body>
</html>